{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
    <title>Photoblog, memories in pixels</title>
  </head>
  <body>
    <div class="header">
      Photoblog, archive of memories<br />
    </div>
    <br />
    <div class="nav-left">
       Image tags<br />
    </div>
    <div class="nav-right">
      Comment<br />
    </div>
    <div class="centerframe">
      This is the centre frame<br />
    </div>
    <br />
    <div class="slider">
      Image slider<br />
    </div>
    
  </body>
</html>

